.board{
    font-family: 'Press Start 2P';
    flex-wrap:wrap;
    max-width: 600px;
    height: 600px;
    margin: 10px auto;
    justify-content: space-around;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}