.card{
    width:100px;
    height:100px;
}

.back{
    width:100px;
    height:100px;
    background-color: #67D4C4;
}

.front{
    width:100px;
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F04C57;
}


.ReactFlipCard{
    width: 100%;
    height: 100%;
}